<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LaTeX Generator</title>
</head>
<body>
    <h1>LaTeX eBook Generator</h1>
    <form method="post">
        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic" required>
        <br><br>
        <label for="num_list">Number of Subtopics:</label>
        <input type="number" id="num_list" name="num_list" value="5" min="1" max="50">
        <br><br>
        <button type="submit">Generate LaTeX</button>
    </form>
</body>
</html>
